/* main.html에 연결 */
/* 폰트 임포트 */
@font-face {
    font-family: 'GowunBatang-Regular'; /* 고운바탕체 */
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM'; /* 경기천년제목 */
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular'; /* 프리텐다드 */
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* margin:바깥 여백, padding:안쪽 여백 */
html { margin: 0; padding: 0; } 
body { margin: 0; padding: 0; text-align: center; }

/* 제목 사이즈 */
.main-title {
    margin-top: 10px;
	font-family: 'GowunBatang-Regular';
	font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}

/* 메뉴 정렬 */
.menu-li {
    display: inline-block;
    margin: 10px;
	background-color: aliceblue;
	border-radius: 2px;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'GyeonggiTitleM';
	font-size: 20px;
}

/* a링크 클릭 후 색변경 제거 */
a:link, a:visited, a:hover, a:active { text-decoration: none; color: rgb(72, 72, 72); }

/* 푸터 간격 설정 */
footer {
	margin-top: 20px;
	padding: 30px;
	font-family: 'Pretendard-Regular';
}

/* 버튼 효과 */
.button {
	background-image: linear-gradient(to right, yellow, orange, red);
	color: white;
	text-align: center;
	border: 0px;
	border-radius: 7px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'GyeonggiTitleM';
}

/* section-1 효과 */
.sec1-title {
	margin-top: 15px;
	font-family: 'Pretendard-Regular';
	font-size: 17px;
}

.sec1-board {
	margin-bottom: 15px;
	font-family: 'Pretendard-Regular';
}

/* section-2 효과 */
.sec2-title {
	margin-top: 20px;
	margin-bottom: 3px;
	font-family: 'Pretendard-Regular';
	font-size: 17px;
}

.sec2-board {
	background-color: azure;
	margin-bottom: 10px;
	font-family: 'Pretendard-Regular';
}

.sec2-board .input-board {
	font-family: 'Pretendard-Regular';
}

/* section calendar */
.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}
